<p-table [columns]="cols" [value]="data" [tableStyle]="tableStyles">
  <ng-template #header let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <span *ngIf="col.icon">
          <app-button [icon]="col.icon" [onClick]="col.action" [param]="rowData"></app-button>
        </span>
        <span *ngIf="!col.clickable && !col.icon">{{ rowData[col.field] }}</span>
        <app-button *ngIf="col.clickable && !col.icon"
                    [link]="true"
                    label="{{ rowData[col.field] }}"
                    [routerLink]="col.routeToSend"></app-button>
      </td>
    </tr>
  </ng-template>
</p-table>
